*/*
!.gitignore
!root/*
!metin2_patch_eu4/*
!multi_locale/*
!new_ui/*
!textureset/*
!uiscript/*
!yamato/*
!ETC/*
!icon/*
!item/*
!dungeons/*
Terrain.rar
yamato/yamato_character/dex.png
yamato/yamato_character/int.png
yamato/yamato_character/str.png
yamato/yamato_character/vit.png
icon/icon/ui/bio.png
